#categories{
	display: flex;
	gap: 30px;
	height: 50px;
	width: 60%;
	justify-content: center;
	/* position:sticky; */
	top: 0;
	/* box-shadow: 0 0 40px 20px rgba(0,0,0,0.1); */
	background-color: white;
    margin: auto;
    margin-top: -320px;
}


#mybt:hover{
    text-decoration: underline 2px solid #F50057;
    cursor: pointer;
    color: #F50057;
}

p:hover{
	text-decoration: underline 2px solid #F50057;
	cursor: pointer;
	color: #F50057;
}

.model {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /*Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  /* Modal Content/Box */
#content {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 50%;
    margin-top: 205px;
}

/* The Close Button */
.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
  
#reg{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    height: 10px;
    justify-content: center;
}

#reg p{
    font-size: 16px;
}

/* .line {
             
    padding-bottom: 20px;
    border-bottom-style: solid  ;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-color: #C51162;
    color: #C51162;
    cursor: pointer;
} */
#sub-categories{
    display: flex;
    flex-direction: column;
}

#sub-categories a{
    font-family: poppins;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}

 #sub-categories2{
    display: flex;
    flex-direction: column;

}

#sub-categories2 a{
    font-family: poppins;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}
h4{
    text-transform: uppercase;
}

#sub-categories a:hover{
    color: #C51162;
}
  #sub-categories2 a:hover{
    color: #C51162;
}
#sub{
    width: 300px;
    height: 330px;
    background-color:#eee;
}





.close{
   margin-right: 70px;
}


#butt{
   color: #fff;
   height: 25px;
}

.cls{
padding: 80px;
margin-top: 0px;

}